*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #000;
}

.hero{
    position: relative;
    width: 300px;
    height: 300px;
}
.hero div{
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transform: rotate(calc(36deg * var(--i)));
}
.hero div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-sizing: border-box;
    background: transparent;
    border: 4px solid #2aef2a;
    box-sizing: border-box;
    box-shadow: 0 0 20px #2aef2a,
    -30px -30px 0 #2aef2a,    
    -30px -30px 20px #2aef2a,    
    30px 30px 0 #2aef2a,    
    30px 30px 20px #2aef2a,        
    30px -30px 0 #2aef2a,        
    30px -30px 20px #2aef2a,        
    -30px 30px 0 #2aef2a,        
    -30px 30px 20px #2aef2a;
    animation: animat 5s linear infinite;
    transform-origin: 100px;
}
@keyframes animat{
    0%{
        transform: rotate(0);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
h1{
    color: #fff;
    text-align: center;
    margin-top: 40%;
    text-shadow: 2px 4px 5px #fff;
}
h1 span{
    color: #2aef2a;
    text-shadow: 5px 4px 5px #2aef2a;
}