*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #000;
    color: #fff;
    font-family: sans-serif;
}
.wrapper{
    display: inline-flex;
}
.wrapper .icon{
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.wrapper .icon span{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #000;
    text-align: center;
    box-shadow: 0px 3px 10px rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 1;
}
.wrapper .icon span i{
    font-size: 25px;
    line-height: 60px;
}
.wrapper .icon .tooltip{
    position: absolute;
    top: 0px;
    background: #000;
    box-shadow: 0px 5px 20px rgb(255, 255, 255);
    padding: 10px 18px;
    font-size: 20px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier
    (0.68,-0.55,0.265,1.55);
}
.wrapper .icon:hover .tooltip{
    opacity: 1;
    top: -70px;
    pointer-events: auto;
}
.wrapper .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #000;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}